section.autos
  div
    #carouselExampleIndicators.carousel.slide(data-bs-ride='carousel')
      .carousel-indicators
        button.active(type='button', data-bs-target='#carouselExampleIndicators', data-bs-slide-to='0', aria-current='true', aria-label='Slide 1')
        button(type='button', data-bs-target='#carouselExampleIndicators', data-bs-slide-to='1', aria-label='Slide 2')
        button(type='button', data-bs-target='#carouselExampleIndicators', data-bs-slide-to='2', aria-label='Slide 3')
        button(type='button', data-bs-target='#carouselExampleIndicators', data-bs-slide-to='3', aria-label='Slide 4')
        button(type='button', data-bs-target='#carouselExampleIndicators', data-bs-slide-to='4', aria-label='Slide 5')
        button(type='button', data-bs-target='#carouselExampleIndicators', data-bs-slide-to='5', aria-label='Slide 6')
        button(type='button', data-bs-target='#carouselExampleIndicators', data-bs-slide-to='6', aria-label='Slide 7')
        button(type='button', data-bs-target='#carouselExampleIndicators', data-bs-slide-to='7', aria-label='Slide 8')
        button(type='button', data-bs-target='#carouselExampleIndicators', data-bs-slide-to='8', aria-label='Slide 9')
        button(type='button', data-bs-target='#carouselExampleIndicators', data-bs-slide-to='9', aria-label='Slide 10')
      .carousel-inner
        .carousel-item.active(data-bs-interval='5000')
          img.d-block.w-100(src='img/banners/mela-001.jpg', alt='...')
        .carousel-item(data-bs-interval='5000')
          img.d-block.w-100(src='img/banners/mela-002.jpg', alt='...')
        .carousel-item
          img.d-block.w-100(src='img/banners/mela-003.jpg', alt='...')
        .carousel-item
          img.d-block.w-100(src='img/banners/mela-004.jpg', alt='...')
        .carousel-item
          img.d-block.w-100(src='img/banners/mela-005.jpeg', alt='...')
        .carousel-item
          img.d-block.w-100(src='img/banners/mela-006.jpeg', alt='...')
        .carousel-item
          img.d-block.w-100(src='img/banners/mela-007.jpeg', alt='...')
        .carousel-item
          img.d-block.w-100(src='img/banners//mela-008.jpeg', alt='...')
        .carousel-item
          img.d-block.w-100(src='img/banners/mela-009.jpg', alt='...')
        .carousel-item
          img.d-block.w-100(src='img/banners/mela-010.jpg', alt='...')
      button.carousel-control-prev(type='button', data-bs-target='#carouselExampleIndicators', data-bs-slide='prev')
        span.carousel-control-prev-icon(aria-hidden='true')
        span.visually-hidden Previous
      button.carousel-control-next(type='button', data-bs-target='#carouselExampleIndicators', data-bs-slide='next')
        span.carousel-control-next-icon(aria-hidden='true')
        span.visually-hidden Next
      