section.text-arco
  .container
    .row.pt-5
      .col-lg-6
        .mx-3
          h1 Private Delux Services
          p.fs-5.text-secondary.mb-5
            | Los Cabos Transfer offers transportation and security to you and to all your loved ones that you invite to our land, the southern lowlands with the greatest drivers, that is why we recommend that you travel with us for the safety of your loved ones, thank you, we are at your service.
      .col-lg-6
        .mx-3
          img.img-fluid(src='img/testimonials.jpeg')
