section#img-text
  .row
    .col-lg-6.h-100
      div
        img.img-fluid(src='img/banners/mela-001.jpg')
    .col-lg-6.d-flex
      .text-start.mx-3.py-5
        h1.display-4.pb-4
          | Come live the Mexican dream with Los Cabos Transfer
        p.pb-4.text-secondary
          | Ensure your trip gets off to the best start by booking an private transfer in Los Cabos.
        .text-center
          button#submitButton.btn.btn.btn-danger.fw-bold.fs-4(type='button', data-bs-toggle='modal', data-bs-target='#exampleModal') BOOK NOW
