section.only-text
  .container
    .top.text-center
      h1.mt-5.text-danger Los Cabos Private Service
      p.fs-2
        | Come live the Mexican dream with us Los Cabos Transfer invites you to tour Baja California between its desert Sea of Cortez and the Mexican Pacific from La Paz Todos Santos Cabo San Lucas and San Jos&eacute; del Cabo these wonderful lands of nature that offer us everything the splendor the magic of its lands fauna and the warmth of the people have made the destination one of the best in the world come and enjoy its hotels tourist activities and its food that fills even the best tastes of its people we are waiting for you in this full land from beaches sea and sand come to have fun with your family friends and with everyone you want to be in the company of this land the last of the peninsula we are waiting for you with open arms to meet the magic that we offer you melatransfer.
