footer
  section.logo-contacto
    .d-flex
      .row.mx-auto.my-3
        .col-lg-4
          img.w-100(src='img/logo/loscabostransfer-white.png')
        .col-lg-4.text-white.text-center
          h5 PHONES NUMBER
          small
            | Local/Phone Number:
            a(href='tel:+526242125052') +52 1 624 161 3475
          p
            small
              | Local/Phone Number:
              a(href='tel:+526242125052') +52 1 624 160 1323
          p
            small
              | Toll Free Number:
              a(href='tel:+526242125052') +1 800 935 0895
        .col-lg-4.text-white.text-center
          h5 E-MAIL ADDRESS
          p
            small
              a(href='mailto:fer30joat@gmail.com') fer30joat@gmail.com
          h5 ANOTHER LINKS
          small
            a(href='https://www.termsfeed.com/live/da030c0c-c018-4e7d-ae21-f92a36b868c5') PRIVACY POLICY
  section.copy-footer
    .container.text-white.d-flex.justify-content-around.align-items-center
      div(class='tamaño')
        small  &copy; 2022 Los Cabos Transfer
      div
        img(src='img/logo/mario-castro-gallegos.png')
      div
        a(href='http://mariocastrogallegos.com/') Web Designer in Cabo
