header
  nav.navbar.navbar-expand-lg.navbar-light.nav-top.w-100
    .container
      .d-flex.justify-content-center
        a.navbar-brand.mx-0(href='#')
          img.img-fluid(src='img/logo/loscabostransfer-white.png')
        small.text-white.fs-1.d-flex.align-items-end Private
      button.navbar-toggler(type='button', data-bs-toggle='collapse', data-bs-target='#navbarSupportedContent', aria-controls='navbarSupportedContent', aria-expanded='false', aria-label='Toggle navigation')
        span.navbar-toggler-icon
      #navbarSupportedContent.collapse.navbar-collapse.text-end
        .nav-menu.d-flex.w-100.justify-content-around
          ul.navbar-nav
            li.nav-item
              a.nav-link.active.fw-bold.fs-4.text-white(href='#img-text') Book Now
            li.nav-item
              a.nav-link.active.fw-bold.fs-4.text-white(href='#map-form') Contact Us
          ul.navbar-nav
            li.nav-item
              a.nav-link.active.fw-bold.fs-4.text-white(href='tel:+526242125052') USA/Canada Toll Free (True 800)
            li
              a.btn.btn.btn-danger.fw-bold.fs-4(href='tel:+526242125052') Call Us
